* {
  font-family: "Roboto", sans-serif;
}

.container {
  margin-inline: 30px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 100px;
}
//screen that is less than mobile width
@media screen and (max-width: $breakpoint-mobile) {
  .container {
    margin-inline: 10px;
  }
}
